@import 'variables';

.wrapper {
    padding: 2rem;
}

.title {
    font-size: 2.4rem;
    font-weight: bold;
    margin-top: 3rem;
}

img {
    display: block;
    height: auto;
    width: 20rem;
}

.nwicanvas {
    border: .2rem solid $clr-grey;
    border-radius: 3rem;
    display: block;
    margin-bottom: 3rem;
}
